@import uk.gov.hmrc.integrationcataloguefrontend.views.utils.GlobalSection._

@(form: Form[_])(implicit messages: Messages)

@if(form.hasGlobalErrors) {
  <div class="error-summary" id="error-summary-display" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 id="error-summary-heading" class="heading-medium error-summary-heading">There is a problem</h2>
    <ul class="error-summary-list">
      @for(error <- form.globalErrors) {
        <li>
          <a @dataAttribute(error.message) href="@anchor(error.message)" data-focuses="@errorField(error.message)" data-global-error>@Messages(error.message)</a>
        </li>
      }
    </ul>
  </div>
} else {
  @ErrorSummaryForFormErrors(form.errors)
}