@import uk.gov.hmrc.integrationcatalogue.models.common.PlatformType
@import uk.gov.hmrc.integrationcatalogue.models.common.PlatformType._

@this()

@(platformFilter: List[PlatformType])


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading" id="platform-filter-label">
                Integration platform
            </h2>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="api-platform" name="platformFilter" type="checkbox" value="API_PLATFORM" @if(platformFilter.contains(API_PLATFORM)){ checked }>
                <label class="govuk-label govuk-checkboxes__label checkbox-label-small" for="api-platform" id="api-platform-filter-label" >
                    API Platform
                </label>
            </div>

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="cma" name="platformFilter" type="checkbox" value="CMA" @if(platformFilter.contains(CMA)){ checked }>
                <label class="govuk-label govuk-checkboxes__label checkbox-label-small" for="cma" id="cma-filter-label">
                    Containerised Managed Architecture (CMA)
                </label>
            </div>


            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="cds-classic" name="platformFilter" type="checkbox" value="CDS_CLASSIC" @if(platformFilter.contains(CDS_CLASSIC)){ checked }>
                <label class="govuk-label govuk-checkboxes__label checkbox-label-small" for="cds-classic" id="cds-classic-filter-label" >
                    Customs Declaration System (CDS Classic)
                </label>
            </div>

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="des-if" name="platformFilter" type="checkbox" value="DES" @if(platformFilter.contains(DES)){ checked }>
                <label class="govuk-label govuk-checkboxes__label checkbox-label-small" for="des-if" id="des-if-filter-label">
                   Data Exchange Service (DES)
                </label>
            </div>

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="core-if" name="platformFilter" type="checkbox" value="CORE_IF" @if(platformFilter.contains(CORE_IF)){ checked }>
                <label class="govuk-label govuk-checkboxes__label checkbox-label-small" for="core-if" id="core-if-filter-label">
                    Integration Framework (IF)
                </label>
            </div>

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="transaction-engine" name="platformFilter" type="checkbox" value="TRANSACTION_ENGINE" @if(platformFilter.contains(TRANSACTION_ENGINE)){ checked }>
                <label class="govuk-label govuk-checkboxes__label checkbox-label-small" for="transaction-engine" id="transaction-engine-filter-label">
                    Transaction Engine
                </label>
            </div>

        </div>
    </fieldset>
</div>
