@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this()

@()

<div class="govuk-notification-banner" role="region" aria-labelledby="poc-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <span class="govuk-notification-banner__title" id="poc-banner-title">
      Important
    </span>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading" id="poc-banner-heading">
      This service is in development and uses limited data and functionality.
    </p>
  </div>
</div>
