@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.integrationcataloguefrontend.config.AppConfig
@import uk.gov.hmrc.integrationcataloguefrontend.views.html.homepage._
@import uk.gov.hmrc.integrationcataloguefrontend.views.html._
@import uk.gov.hmrc.integrationcataloguefrontend.views.html.includes._

@this(
    govukTemplate: GovukTemplate,
    footer: GovukFooter,
    siteHeader: HomePageHeader,
    head: Head,
)
@(pageTitle: Option[String] = None,
    headBlock: Option[Html] = None,
    scriptsBlock: Option[Html] = None,
    activePage: Option[String] = None,
    bodyEndBlock: Option[Html] = None
)(contentBlock: Html)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@mainContentDefault = {
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLWQQZB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    @contentBlock
}

@footerBlock = {
    @footer()
}

@scripts = {
    <script src='@controllers.routes.Assets.versioned("lib/govuk-frontend/govuk/all.js")'></script>
    <script>window.GOVUKFrontend.initAll();</script>
    <script src='@routes.Assets.versioned("javascripts/gtm.js")'></script>
}

@bodyEndDefault = {
    @bodyEndBlock
    @scripts
}

@govukTemplate(
    pageTitle = pageTitle,
    headBlock = Some(head(headBlock)),
    headerBlock = siteHeader(),
    mainClasses = None,
    footerBlock = footerBlock,
    beforeContentBlock = None,
    bodyEndBlock = Some(bodyEndDefault)
)(mainContentDefault)
